.fqa_container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

}

.fqa_heading {
    font-size: 2rem;
    color: #ED7D31;
}

.search_module {
    margin-top: 50px;
    width: auto;
}

.questions_module {
    background-color: #1c2437;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    column-gap: 20px;
    width: 80%;
    margin-top: 30px;
}

.questions_module_left {
    width: 100%;
}

.questions_module_right {
    width: 100%;
}