.notification_container {
    width: 450px;
    height: 90vh;
    overflow-y: scroll;
}

/* .main_noti_con {} */

.notification_container_dark {
    background-color: #1c2437;
    width: 450px;
    height: 90vh;
    overflow-y: scroll;
}

.notification_container::-webkit-scrollbar {
    width: 6px;
}

.notification_container::-webkit-scrollbar-track {
    background: none;
}

.notification_container::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 20px;
}

.notification_container_dark::-webkit-scrollbar {
    width: 6px;
}

.notification_container_dark::-webkit-scrollbar-track {
    background: none;
}

.notification_container_dark::-webkit-scrollbar-thumb {
    background-color: #36a689;
    border-radius: 20px;
}

.all_read_btn {
    font-size: 1.5rem;
}