.payout_history_container {
    height: 100%;
    width: 100%;
}

.payout_history_heading h1 {
    color: #ED7D31;
    font-size: 2rem;
}

.date_range_show_module {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    justify-content: space-between;

}

.date_range_show_module_left {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.date_range_show_module_left h5 {
    border: 1px solid #ED7D31;
    padding: 6px 20px;
    border-radius: 4px;
    letter-spacing: .1ch;
    white-space: nowrap;
    font-size: .7rem;
}

.date_range_container {
    margin-top: 2px;
    position: absolute;
    bottom: -360px;
    left: 0;
    z-index: 1;
}

.history_table_container {
    margin-top: 50px;
    z-index: -1;
}