/* .sidebar_container {
    display: 'flex',
    width: '100%',
    color: '#13183e',
    height: '100vh',
    backgroundColor: '#16192A',
    justifyContent: 'space-between',
    transition: '.3s',
} */

/* .sidebar_wrapper_open {
    background-color: '#E9E9E9',
    width: '20%',
    transition: ''.3s',
} */
/* 
.sidebar_wrapper_close {
    background-color: #E9E9E9;
    width: 8%;
    transition: .3s;
} */

/* .sidebar_content {
    backgroundColor: '#1c2437',
    width: '100%',
    height: '100%',
    paddingTop: '30px',
    paddingLeft: '15px',
    paddingRight: '15px',
    overflowY: 'scroll',
    transition: ''.2s',
} */

/* .sidebar_content::-webkit-scrollbar {
    width: 0;
} */

/* profile name section */
/* .profile_container {
    width: '100%',
    height: '120px',
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
    color: '#d8d8d8',
    marginBottom: '50px',
} */

/* .profile_image {
    height: '60px',
        width: '60px',
        borderRadius: '50px',
        border: '2px solid #3d475f',
        transition: '.5s',
} */

/* .profile_image_collapse {
    height: '50px',
    width: '50px',
    borderRadius: '50px',
    border: '2px solid #3d475f',
    transition: '.5s',
} */

/* .profile_name {
    fontWeight: '400',
    marginTop: '6px',
    fontSize: '1.5rem',
    letterSpacing: '.1ch',
    transition: '.5s',
} */

/* .profile_name_collapse {
    fontWeight: '400',
    marginTop: '6px',
    fontSize: '.9rem',
    letterSpacing: '.1ch',
    transition: '.5s',
    whiteSpace: 'nowrap',
} */

/* .profile_id {
    font-size: .8rem;
    letter-spacing: .2ch;
    font-weight: 500;
    transition: .5s;
}

.profile_id_collapse {
    font-size: .7rem;
    letter-spacing: .2ch;
    font-weight: 500;
    transition: .5s;
} */

/* manager contact */
.manager_contact_container {
    transform: scaleX(1);
    transform-origin: left;
    height: 130px;
    opacity: 1;
    transition: .3s;
    margin-bottom: 30px;
}

.manager_contact_container_hide {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: .3s;
    height: 130px;
    margin-bottom: 30px;
}

.contact_manager_heading {
    font-size: 1rem;
    color: #36a689;
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: .1ch;
    white-space: nowrap;
}

.contact_single {
    padding-left: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    color: #d8d8d8;
    font-size: .7rem;
    margin-top: 8px;
    letter-spacing: .1ch;
    white-space: nowrap;
}

.contact_icon {
    font-size: 1rem;
    color: #d8d8d8;
    margin-right: 6px;
}

/* Dashboard menu container */
/* .dashboard_menu_items_container {
    color: '#d8d8d8',
        marginTop: '20px',
} */

.single_menu_btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-transform: capitalize;
    letter-spacing: .1ch;
    font-size: 1rem;
    width: 100%;
    color: #d8d8d8;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 0 5px 10px;
    transition: .3s;
    white-space: nowrap;
}

.single_menu_btn:hover {
    color: #ED7D31;
    letter-spacing: .2ch;
    background-color: #3d475f63;
    border-radius: 4px;
}

.single_menu_btn_selected {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-transform: capitalize;
    letter-spacing: .1ch;
    font-size: 1rem;
    width: 100%;
    color: #ED7D31;
    background-color: #3d475f63;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    transition: .3s;
}

.single_menu_btn_collapse {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    width: 100%;
    color: #d8d8d8;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 10px;
    transition: .3s;
}

.single_menu_btn_collapse:hover {
    transition: 0;
    background-color: #3d475f63;
    border-radius: 4px;

    .saidebar_menu_icon_collapse {
        background-color: #ED7D31;
        color: whitesmoke;
    }
}

.single_menu_btn_collapse_selected {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    width: 100%;
    color: #ED7D31;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 10px;
    transition: .3s;
}


.saidebar_menu_icon {
    font-size: 1.3rem;
    transition: .3s;
}

.saidebar_menu_icon_collapse {
    font-size: 1.3rem;
    background-color: #3d475f63;
    padding: 6px;
    border-radius: 4px;
    transition: .3s;
}

/* .saidebar_menu_icon_collapse:hover {
    background-color: #ED7D31;
    color: whitesmoke;
} */

.sidebar_menu_text {
    display: block;
    white-space: nowrap;
}

.saidebar_menu_text_collapse {
    display: none;
}

.single_menu_btn:hover .saidebar_menu_icon {
    animation: menuIconShake 200ms ease 100ms 1 normal forwards;
}

.main_menus_container {
    margin-top: 30px;
}

.menu_category {
    color: rgb(161, 161, 161);
    font-size: 1rem;
    letter-spacing: .1ch;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menus_wrapper {
    padding-left: 10px;
    transition: .5s;
}

.menus_wrapper_collapse {
    padding-left: 20px;
    transition: .5s;
}

.sub_menus_wrapper {
    padding-left: 20px;
}

.sub_menus_wrapper_collapse {
    display: none;
}

.dropdown_btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-transform: capitalize;
    letter-spacing: .1ch;
    font-size: 1rem;
    width: 100%;
    color: #d8d8d8;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 0 5px 10px;
    transition: .2s;
    white-space: nowrap;
}

.dropdown_btn_selected {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-transform: capitalize;
    letter-spacing: .1ch;
    font-size: 1rem;
    width: 100%;
    color: #ED7D31;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 0 5px 10px;
    transition: .2s;
    white-space: nowrap;
}

.dropdown_btn:hover {
    color: #ED7D31;
    background-color: #3d475f63;
    border-radius: 4px;
}

.dropdown_btn_selected {
    color: #ED7D31;
}

.report_btn_arrow_right {
    font-size: 1rem;
    transition: .2s;
}

.report_btn_arrow_down {
    font-size: 1rem;
    transform: rotate(-90deg);
    transition: .2s;
}

.dropdown_container_open {
    transform: scaleY(1);
    height: 70px;
    transform-origin: top;
    transition: .3s;
    padding-left: 10px;
}

.dropdown_container_close {
    transform: scaleY(0);
    height: 0;
    transform-origin: bottom;
    transition: .3s;
}

.dropdown_container_close .single_menu_btn {
    opacity: 0;
    transition: .1s;
}

/* logout module start */
.log_home_btn_container {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.home_btn {
    font-size: 1.1rem;
    letter-spacing: .1ch;
    text-transform: capitalize;
    padding: 4px 10px 6px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #d8d8d8;
    width: 35%;
    transition: .3s;
}

.home_btn:hover {
    letter-spacing: .2ch;
    text-decoration: underline;
}

.home_btn:active {
    color: #d8d8d8;
}

.home_icon {
    font-size: 1.2rem;
    margin-right: 6px;
    color: #36a689;
}

.logout_btn {
    font-size: 1.1rem;
    letter-spacing: .1ch;
    text-transform: capitalize;
    padding: 4px 10px 6px 0;
    color: #d8d8d8;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 35%;
    transition: .3s;
}

.logout_btn:hover {
    letter-spacing: .2ch;
    text-decoration: underline;
}

.logout_btn:active {
    color: #d8d8d8;
}

.logout_icon {
    font-size: 1.2rem;
    color: #36a689;
    margin-right: 6px;
}


/* children */
.children_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 15px;
}

.children_container::-webkit-scrollbar {
    display: none;
}


/* animation */
@keyframes menuIconShake {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}