/* .transaction_report_container {} */

/* .transaction_heading_module {
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'space-between',
    fontSize: '2'rem',
    color: '#ED7D31',
} */

/* .trans_filter_input_modules {
    display: 'flex',
        columnGap: '20px',
        align-items: 'center',
        backgroundColor: '#1c2437',
        padding: '30px 20px',
        borderRadius: '4px',
        marginTop: '50px',
} */

/* .date_range_show_module_trans {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.date_range_show_module_trans h5 {
    border: 1px solid #ED7D31;
    padding: 11px 20px;
    border-radius: 4px;
    letter-spacing: .1ch;
    white-space: nowrap;
    font-size: .8rem;
}

.date_range_container {
    margin-top: 2px;
    position: absolute;
    bottom: -360px;
    left: -35px;
    z-index: 2;
} */

/* .filter_btn_module {
    display: 'flex',
        alignItems: 'center',
        columnGap: '20px',
        marginTop: '20px',
} */

/* .advance_filter_types_module {
    display: 'flex',
    margin-top: '50px',
    width: '100%',
    justifyContent: 'space-between',
    alignItems: 'center',
    zIndex: -1,
} */

/* .advance_filter_types_module_left {
    display: 'flex',
    flexDirection: 'column',
    width: '50%',
} */

/* .advance_filter_types_module_left h2 {
    display: 'flex',
    alignItems: 'center',
    columnGap: '10px',
    fontSize: '1.2rem',
    color:'#ED7D31',
} */

/* .advance_filter_types_module_right {
    width: '50%',
        display: 'flex',
        columnGap: '20px',
        alignItems: 'flex-start',
} */


/* .checkbox_module {
    marginTop: '6px',
    color: 'whitesmoke',
    paddingLeft: '30px',
} */

/* .clear_all_and_select_btns_module {
    display: 'flex',
    columnGap: '20px',
    paddingLeft: '30px',
    marginTop: '10px',
} */

/* .advance_filter_types_module_column_show {
    display: 'flex',
    flexDirection: 'column',
    marginTop: '30px',
} */

/* .export_btn_module {
    textAlign: 'right',
    marginBottom: '20px',
} */

/* .transaction_table_module {
    margin-top: 30px;
} */

/* .summay_module {
    padding: '20px 20px',
    backgroundColor: '#1c2437',
    display: 'flex',
    flexDirection: 'column',
    rowGap: '10px',
    marginBottom: '50px',
} */

.summay_module span {
    display: 'flex',
        justifyContent: 'space-between',
        backgroundColor: '#27374D',
        padding: '10px 20px',
        borderRadius: '4px',
}

.summay_module span>p {
    color: #ED7D31;
}