.social_container {
    background-image: url('../public/socialback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    /* margin-top: -300px; */
}

.layer {
    background-color: #00052D;
    width: 100%;
    height: 100%;
    opacity: .75;
}

.social_info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px;
    padding: 100px 50px 100px 100px;
    color: aliceblue;
}

.social_info_contents {
    width: 50%;
    text-align: justify;
}

.signup_text_logo {
    color: #ED7D31;
    font-size: 7rem;
}

.social_text {
    font-size: 2rem;
    margin-top: 25px;
}

.adventages_heading {
    font-size: 2rem;
    margin-top: 16px;
}

.social_info_contents button {
    margin-top: 25px;
    background-color: #ED7D31;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 20px;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2ch;
    transition: .2s;
}

.social_info_contents button {
    margin-top: 25px;
    background-color: #ED7D31;
    outline: 2px solid whitesmoke;
    border-radius: 2px;
    padding: 8px 20px;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2ch;
    transition: .2s;
}

.social_info_contents button:hover {
    outline-offset: 5px;
}

.social_info_contents button:active {
    transform: scale(.9);
}

.social_image_tag {
    background-color: rgba(211, 211, 211, 0.162);
    border-radius: 10px;
    padding: 50px;
    border: 2px solid whitesmoke;
}

.social_img {
    animation: socialAnim 3s linear 1s infinite normal forwards;
}


@keyframes socialAnim {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

/*****responsive styles*****/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .social_container {
        height: 920px;
    }

    .social_info {
        padding: 50px 20px;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .social_info_contents {
        width: 100%;
    }

    .signup_text_logo {
        font-size: 4rem;
    }

    .social_text {
        font-size: 1.5rem;
    }

    .adventages_heading {
        font-size: 1.2rem;
        margin-top: 16px;
    }

    .social_info_contents button {
        padding: 6px 14px;
        border: 1px solid whitesmoke;

    }

    .social_image_tag {
        padding: 50px;
        height: 300px;
        width: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .social_container {
        height: 800px;
    }

    .social_info {
        padding: 50px 20px;
        flex-direction: column;
        height: 100%;
    }

    .social_info_contents {
        width: 100%;
    }

    .signup_text_logo {
        font-size: 4rem;
    }

    .social_text {
        font-size: 1.0rem;
    }

    .adventages_heading {
        font-size: 1.8rem;
    }

    .social_info_contents button {
        margin-top: 25px;
        padding: 8px 18px;
        border: 1px solid whitesmoke;

    }

    .social_image_tag {
        padding: 50px;
        height: 300px;
        width: 300px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px)and (max-width: 992px) {
    .social_container {
        height: 900px;
    }

    .social_info {
        padding: 50px 30px;
        flex-direction: column;
        height: 100%;
    }

    .social_info_contents {
        width: 100%;
    }

    .signup_text_logo {
        font-size: 5rem;
    }

    .social_text {
        font-size: 1.5rem;
    }

    .adventages_heading {
        font-size: 1.8rem;
    }

    .adventages_text {
        font-size: 1.2rem;
    }

    .social_info_contents button {
        margin-top: 25px;
        padding: 8px 18px;
        border: 1px solid whitesmoke;

    }

    .social_image_tag {
        padding: 50px;
        height: 320px;
        width: 320px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .social_info {
        padding: 0 60px;
    }

    .signup_text_logo {
        font-size: 5rem;
    }

    .social_text {
        font-size: 1.8rem;
    }

    .adventages_heading {
        font-size: 1.8rem;
    }

    .adventages_text {
        font-size: 1rem;
    }

    .social_info_contents button {
        margin-top: 25px;
        padding: 8px 18px;
        border: 1px solid whitesmoke;
    }

    .social_image_tag {
        padding: 50px;
        height: 370px;
        width: 370px;
    }
}