.advertisers_container {
    width: 100%;
    height: min-content;
    /* margin-top: -300px; */
}

.advertisers_module {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 50px 50px 50px 100px;
    align-items: center;
    text-align: justify;
    column-gap: 100px;
}

.adv_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
}

.adv_left_icon {
    font-size: 8rem;
    color: #ED7D31;
    border-radius: 50%;
    animation: rotateAnim 25s linear 5s infinite normal forwards;
}

.adv_left_text {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #00052D;
}

.adv_right_text_quots {
    font-weight: 600;
}

.strong_word_left {
    color: whitesmoke;
    background-color: #00052D;
    padding: 8px 20px;
    border-radius: 8px;
    letter-spacing: .2ch;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.adv_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.adv_right span {
    font-size: 5rem;
    color: #ED7D31;
}

.adv_right_heading {
    font-size: 2.5rem;
    color: #00052D;
    text-decoration: underline;
    margin-bottom: 20px;

}

.adv_right_text {
    font-size: 1.5rem;
    color: #00052D;
}

.adv_right button {
    background-color: #ED7D31;
    color: white;
    font-size: 1.5rem;
    padding: 8px 30px;
    border: 2px solid white;
    border-radius: 6px;
    margin-top: 35px;
    letter-spacing: .2ch;
    transition: .2s;
    width: fit-content;
}

.adv_right button:hover {
    background-color: #00052D;
}

.adv_right button:active {
    transform: scale(.9);
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*****responsive styles*****/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .advertisers_container {
        height: auto;
    }

    .advertisers_module {
        padding: 50px 20px;
        flex-direction: column;
        row-gap: 70px;
    }

    .adv_left {
        width: 100%;
        row-gap: 20px;
    }

    .adv_left_icon {
        font-size: 5rem;
    }

    .adv_left_text {
        font-size: 2rem;
    }

    .strong_word_left {
        padding: 6px 20px;
        font-size: 2rem;
    }

    .adv_right {
        width: 100%;
        height: 100%;
    }

    .adv_right span {
        font-size: 3rem;
    }

    .adv_right_heading {
        font-size: 1.8rem;
    }

    .adv_right_text {
        font-size: 1rem;
    }

    .adv_right button {
        font-size: 1rem;
        padding: 6px 30px;
        margin-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .advertisers_container {
        height: auto;
    }

    .advertisers_module {
        padding: 50px 20px;
        flex-direction: column;
        row-gap: 70px;
    }

    .adv_left {
        width: 100%;
        row-gap: 20px;
    }

    .adv_left_icon {
        font-size: 5rem;
    }

    .adv_left_text {
        font-size: 2rem;
    }

    .strong_word_left {
        padding: 8px 20px;
        font-size: 2rem;
    }

    .adv_right {
        width: 100%;
        height: 100%;
    }

    .adv_right span {
        font-size: 3rem;
    }

    .adv_right_heading {
        font-size: 1.8rem;
    }

    .adv_right_text {
        font-size: 1rem;
    }

    .adv_right button {
        font-size: 1rem;
        padding: 6px 30px;
        margin-top: 20px;
        width: fit-content;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px)and (max-width: 992px) {
    .advertisers_container {
        height: auto;
    }

    .advertisers_module {
        padding: 50px 30px;
    }

    .adv_left {
        width: 45%;
        height: 80%;
    }

    .adv_left_icon {
        font-size: 5rem;
    }

    .adv_left_text {
        font-size: 1.5rem;
    }

    .strong_word_left {
        padding: 8px 20px;
        font-size: 1.5rem;
    }

    .adv_right {
        width: 45%;
    }

    .adv_right span {
        font-size: 3rem;
    }

    .adv_right_heading {
        font-size: 1.8rem;
    }

    .adv_right_text {
        font-size: 1rem;
    }

    .adv_right button {
        font-size: 1rem;
        padding: 6px 30px;
        margin-top: 20px;
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .advertisers_container {
        height: auto;
    }

    .advertisers_module {
        padding: 60px 60px;
    }

    .adv_left {
        width: 45%;
        height: 80%;
    }

    .adv_left_icon {
        font-size: 6rem;
    }

    .adv_left_text {
        font-size: 2rem;
    }

    .strong_word_left {
        padding: 8px 20px;
        font-size: 2rem;
    }

    .adv_right {
        width: 45%;
    }

    .adv_right span {
        font-size: 4rem;
    }

    .adv_right_heading {
        font-size: 2rem;
    }

    .adv_right_text {
        font-size: 1.2rem;
    }

    .adv_right button {
        font-size: 1.5rem;
        padding: 8px 30px;
        margin-top: 20px;
        width: fit-content;
    }
}