.reviewer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    color: #00052D;
    padding: 50px 0;
    text-align: justify;
    padding: 100px 50px 100px 100px;
    column-gap: 50px;
}

.reviewer_left {
    width: 50%;
    background-color: rgba(128, 128, 128, 0.318);
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    animation: messAnim 3s linear 2s infinite normal forwards;
    border: 2px solid #00052D;
    height: 400px;
    padding: 20px;
}

.reviewer_image {
    margin-bottom: 16px;
}

.reviewer_left_text {
    font-size: 20px;
}

.reviewer_left_quote {
    font-size: 18px;
    margin-top: 15px;
}

.reviewer_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.reviewer_right_logo {
    font-size: 7rem;
    color: #ED7D31;
}

.reviewer_right_text {
    font-size: 2.5rem;
    display: flex;
    text-align: start;
}

.reviewer_right_quots {
    margin-left: 15px;
}

.reviewer_right_text_detasils {
    font-size: 1rem;
    text-align: end;
    margin-top: 20px;
}

.all_review_btn {
    color: aliceblue;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #ED7D31;
    letter-spacing: .2ch;
    font-weight: 500;
    margin-top: 25px;
    transition: .2s;
}

.all_review_btn:hover {
    outline: 1px solid #00052D;
    outline-offset: 6px;
    color: #00052D;
    border-radius: 2px;
}

@keyframes messageAnim {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}



/*****responsive styles*****/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .reviewer_container {
        flex-direction: column-reverse;
        padding: 30px 15px;
    }

    .reviewer_left {
        width: 100%;
        padding: 15px;
        height: 250px;
    }

    .reviewer_image {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .reviewer_left_text {
        font-size: 15px;
        text-align: justify;
    }

    .reviewer_left_quote {
        font-size: 15px;

    }

    /* ///////////// */
    .reviewer_right {
        width: 100%;
        margin-bottom: 20px;
    }

    .reviewer_right_logo {
        font-size: 4rem;
        color: #ED7D31;
    }

    .reviewer_right_text {
        font-size: 1.5rem;
    }

    .reviewer_right_text_detasils {
        font-size: .8rem;
        margin-top: 10px;
    }

    .all_review_btn {
        padding: 4px 10px;
        border-radius: 4px;
        letter-spacing: .1ch;
        font-size: .8rem;
    }

    .all_review_btn:hover {
        outline-offset: 4px;
        border-radius: 2px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .reviewer_container {
        flex-direction: column-reverse;
        padding: 60px 15px;
    }

    .reviewer_left {
        width: 100%;
        padding: 15px;
        height: 250px;
    }

    .reviewer_image {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .reviewer_left_text {
        font-size: 15px;
        text-align: justify;
    }

    .reviewer_left_quote {
        font-size: 15px;

    }

    /* ///////////// */
    .reviewer_right {
        width: 100%;
        margin-bottom: 20px;
    }

    .reviewer_right_logo {
        font-size: 4rem;
        color: #ED7D31;
    }

    .reviewer_right_text {
        font-size: 1.5rem;
    }

    .reviewer_right_text_detasils {
        font-size: 1rem;
        margin-top: 10px;
    }

    .all_review_btn {
        padding: 4px 10px;
        border-radius: 4px;
        letter-spacing: .1ch;
        font-size: .8rem;
    }

    .all_review_btn:hover {
        outline-offset: 4px;
        border-radius: 2px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px)and (max-width: 992px) {
    .reviewer_container {
        padding: 30px 15px;
        padding: 30px;
        column-gap: 30px;
    }

    .reviewer_left {
        width: 100%;
        height: 250px;
    }

    .reviewer_image {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .reviewer_left_text {
        font-size: 15px;
        text-align: justify;
    }

    .reviewer_left_quote {
        font-size: 15px;

    }

    /* ///////////// */
    .reviewer_right {
        width: 100%;
        margin-bottom: 20px;
    }

    .reviewer_right_logo {
        font-size: 4rem;
        color: #ED7D31;
    }

    .reviewer_right_text {
        font-size: 1.5rem;
    }

    .reviewer_right_text_detasils {
        font-size: 1rem;
        margin-top: 10px;
    }

    .all_review_btn {
        padding: 4px 10px;
        border-radius: 4px;
        letter-spacing: .1ch;
        font-size: .8rem;
    }

    .all_review_btn:hover {
        outline-offset: 4px;
        border-radius: 2px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .reviewer_container {
        padding: 30px 60px;
    }

    .reviewer_left {
        width: 100%;
        height: 250px;
    }

    .reviewer_image {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .reviewer_left_text {
        font-size: 15px;
        text-align: justify;
    }

    .reviewer_left_quote {
        font-size: 15px;

    }

    /* ///////////// */
    .reviewer_right {
        width: 100%;
        margin-bottom: 20px;
    }

    .reviewer_right_logo {
        font-size: 4rem;
        color: #ED7D31;
    }

    .reviewer_right_text {
        font-size: 1.5rem;
    }

    .reviewer_right_text_detasils {
        font-size: 1rem;
        margin-top: 10px;
    }

    .all_review_btn {
        padding: 4px 10px;
        border-radius: 4px;
        letter-spacing: .1ch;
        font-size: .8rem;
    }

    .all_review_btn:hover {
        outline-offset: 4px;
        border-radius: 2px;
    }
}