.affburg_container {
    background-image: url('../public/bc1.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
}

.service_heading {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    font-size: 42px;
    margin: 20px 0;
    color: #00052d;
}

.service_wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    top: 18%;
    padding: 0 60px;
}


.service {
    /* flex: 0 0 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: #00052dbb;
    padding: 20px;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    height: 250px;
}

.service:hover {
    transform: scale(1.1);
}

.service span {
    color: #ED7D31;
    font-size: 4rem;
    margin-bottom: 15px;
}

.service_name {
    margin-bottom: 15px;
    font-size: 24px;
}



/*****responsive styles*****/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .service_container {
        height: 800px;
    }

    .service_heading {
        top: 20px;
        font-size: 2rem;
    }

    .service_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100px, 45%));
        gap: auto;
        padding: 20px;
        top: 12%;
    }

    .service {
        height: 180px;
        padding: 10px;
    }

    .service span {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .service_name {
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .service p {
        font-size: .8rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .service_container {
        height: 620px;
    }

    .service_heading {
        top: 20px;
        font-size: 2rem;
    }

    .service_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100px, 28%));
        gap: auto;
        padding: 30px 20px;
        top: 15%;
    }

    .service {
        height: 210px;
        padding: 10px;
    }

    .service span {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .service_name {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .service p {
        font-size: .8rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px)and (max-width: 992px) {
    .service_container {
        height: 600px;
    }

    .service_heading {
        top: 20px;
        font-size: 2rem;
    }

    .service_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100px, 30%));
        gap: auto;
        padding: 0 30px;
        top: 18%;
    }

    .service {
        height: 200px;
        padding: 10px;
    }

    .service span {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .service_name {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .service p {
        font-size: .8rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .service_container {
        height: 600px;
    }

    .service_heading {
        top: 20px;
        font-size: 2rem;
    }

    .service_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100px, 30%));
        gap: auto;
        padding: 0 30px;
        top: 18%;
    }

    .service {
        height: 200px;
        padding: 10px;
    }

    .service span {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .service_name {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .service p {
        font-size: .8rem;
    }
}